#Software version with the following format: major.minor.patch
VERSION=0.0.0
#SQLite database file URL
DATABASE_URL="./dev.db"
#One time password TTL in minutes
OTP_TTL_MINUTES=10
#One time password charset
OTP_CHARSET="1234567890"
#One time password length
OTP_LENGTH=6
#One time password secret
OTP_SECRET=""
#One time password max attempts
OTP_MAX_ATTEMPTS=3
# SMTP host
SMTP_HOST=smtp.example.com
#SMTP port
SMTP_PORT=587
#SMTP user
SMTP_USER=user@example.com,
#SMTP password
SMTP_PASSWORD=yoursupersecretpassword
#Mailer from
MAILER_FROM="YourApp <no-reply@example.com>"
#Jwt expires in (seconds)
JWT_EXPIRES_IN=60
