#Software version with the following format: major.minor.patch
VERSION=0.0.0
#SQLite database file URL
DATABASE_URL="./dev.db"
#One time password TTL in minutes
OTP_TTL_MINUTES=10
#One time password charset
OTP_CHARSET="1234567890"
#One time password length
OTP_LENGTH=6
#One time password secret
OTP_SECRET=""
