APP_VERSION=0.0.0
APP_CORS_ORIGINS="http://localhost:8080"

DATABASE_URL="http://locahost"
DATABASE_PORT="5432"
DATABASE_NAME="library-ite"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="1234567890"

AUTH_JWT_EXPIRES_IN=60

MAILER_SMTP_HOST=smtp.example.com
MAILER_SMTP_PORT=587
MAILER_SMTP_USER=user@example.com
MAILER_SMTP_PASSWORD=yoursupersecretpassword
MAILER_FROM="YourApp <no-reply@example.com>"

OTP_TTL_MINUTES=10
OTP_CHARSET="1234567890"
OTP_LENGTH=6
OTP_MAX_ATTEMPTS=3

SEEDER_SUPER_ADMIN_EMAIL=superadmin@example.com
SEEDER_SUPER_ADMIN_ROLE_NAME="Super Admin"
SEEDER_SUPER_ADMIN_NAME="John"
SEEDER_SUPER_ADMIN_SURNAME="Doe"
